*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: #182625;
}
.heading{
    
    font-family: "Orbitron", sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}
.images{
    margin-top: 30px;
    margin-left:25px;
    cursor: pointer;
    
}
.img{
    border: 2px solid black;
    display:inline-block;
    padding:10px;
    margin:10px;
    width:300px;  
    border-radius:7px;
    background-color:#2F3D40; 

}
p{
    text-align: center;
}